@import '../../styling/variables.scss';

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  font-weight: $bold;
  border: 1px solid transparent;
  border-radius: 8px;
  cursor: pointer;
}

.SMALL {

}

.MEDIUM {
  padding: 0.75rem;
}

.LARGE {
  padding: 1rem;
}

.TRANSPARENT {
  background-color: transparent;
  color: $white;
}

.LIGHT {

}

.DARK {
  background-color: $darkBlue;
  color: $white;

  &:hover {

    svg {

      path {
        stroke: $white;
      }
    }
  }
}
