@import '../../styling/variables.scss';

.systemError {
  display: flex;
  align-items: center;
  gap: 1rem;
  border-radius: 24px;
  background-color: $darkBlue;
  padding: 1rem;
  box-shadow: 0 0 10px rgba($black, 0.075);
}

.title {
  font-weight: $bold;
}

.label {
  font-size: 0.8rem;
}

.systemErrorContainer {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}

.systemErrorInfo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.systemErrorDetailsButton {
  background-color: transparent;
  border-radius: 50%;

  svg {
    transform: rotate(180deg);
  }

  &:hover {
    svg {
      path {
        stroke: $white;
      }
    }
  }
}
