@import '../../styling/variables.scss';

.systemError {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-radius: 24px;
  background-color: $darkBlue;
  padding: 1rem;
  box-shadow: 0 0 10px rgba($black, 0.075);
}

.systemErrorContainer {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}

.systemErrorDetails {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

.title {
  font-weight: $boldest;
}

.label {
  font-size: 0.8rem;
}

.systemErrorInfo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.systemErrorDetailsDescription {
  font-size: 0.75rem;
}
