@import '../../styling/variables.scss';

.svg {
  transition: all 300ms ease;

  .black {
    fill: $black;
  }

  .gray {
    fill: $gray;
  }

  .white {
    fill: $white;
  }

  .green {
    fill: $green;
  }

  .blue {
    fill: $blue;
  }

  .red {
    fill: $red;
  }

  .orange {
    fill: $orange;
  }
}
