.subHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 5rem;
}

@media (max-width: 840px) {
  .subHeader {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
    padding: 0 1rem;
  }
}

@media (max-width: 600px) {
  .subHeader {
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}
