@import '../../../../../styling/variables.scss';

.countryContent {
  padding: 1.5rem 1rem 2.5rem 1rem;
}

.name {
  font-weight: $boldest;
}

.countryBaseInfo {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}
