.countries {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, max-content));
  grid-auto-rows: max-content;
  place-content: start center;
  gap: 4rem;
  padding: 5rem;
}

@media (max-width: 630px) {
  .countries {
    gap: 1rem;
    padding: 1rem;
  }
}
