// Font

$font: "Poppins";

// Typography

$small: 0.8rem;
$medium: 1rem;

// Typography weights

$thin: 300;
$bold: 500;
$boldest: 600;



// Colors

$neutral: #636e72;

$black: hsl(180, 8%, 3%);
$black5: hsl(0, 0%, 90%);

$darkBlue: hsl(209, 23%, 22%);
$veryLightBlue: hsl(207, 26%, 17%);
$veryDarkBlue: hsl(200, 15%, 8%);
$darkGray: hsl(0, 0%, 52%);
$veryLightGray: hsl(0, 0%, 98%);
$white: hsl(0, 0%, 100%);
