@import '../../../../../styling/variables.scss';



.countryDetailsDialog {
    position: fixed;
    top: 80px;
    left: 0;
    right: 0;
    height: calc(100vh - 80px);
    padding: 5rem;
    z-index: 10;
}

.closeCountryDetailsDialogButton {
    background-color: $white;
    box-shadow: 0 0 10px rgba($black, 0.075);
}

.arrowIcon {
    transform: rotate(-90deg);
    margin-right: 0.5rem;
}
