@import '../../../../../styling/variables.scss';

.countryDetailsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  margin-top: 3rem;
}

.rightPartCountryInfo {
  display: flex;
  flex-direction: column;
}

.flag {
  width: 550px;
  height: 300px;
}

@media (max-width: 1200px) {
  .countryDetailsContainer {
    flex-direction: column;
  }

  .flag {
    width: 350px;
    height: 180px;
  }
}
