@import '../../../../styling/variables.scss';

.optionsList {
  width: 100%;
  position: absolute;
  border-radius: 8px;
  padding: 0.5rem;
  box-shadow: 0 0 10px rgba($black, 0.075);
}

.option {
  height: 1.8rem;
  display: flex;
  align-items: center;
  font-size: $small;
  font-weight: $bold;
  padding-left: 0.5rem;
  border-radius: 8px;
  cursor: pointer;
  transition: all 200ms ease;

  &:hover {
    padding-left: 1rem;
  }

  img {
    width: 20px;
    margin-right: 0.5rem;
  }
}
