@import '../../styling/variables.scss';

.skeletonLoaderCircular {
  background-color: $veryLightBlue;
  border-radius: 8px;
}

.pulse {
  animation: sk-pulse 1.3s ease-in-out infinite;
  will-change: opacity;
}

@keyframes sk-pulse {
  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0.5;
  }
}
